@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .menu-list{
        @apply hover:text-[#b48b3c] mb-1 text-xl;
    }
}

/* d8d2ca ede9e4  141618  ca786c b48b3c f7f1f1*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-bg-image{
    background: url("../src/assets/images/istockphoto-486091044-1024x1024.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
}


.swiper{
    padding: 3rem;
}
