@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-list{
    @apply hover:text-amber-600 mb-1;
}

/* d8d2ca ede9e4  141618*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-font{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.myfont-thin{
    font-weight: 400; 
}

.my-color{
    color: #d8d2ca;
}

.hero-bg-image{
    background: url("../src/assets/images/istockphoto-486091044-1024x1024.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
}


.swiper{
    padding: 3rem;
}
